##############################
## Folders                  ##
##############################
Debug
 
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml
